h1 {
  text-align: center;
  margin: 50px auto;
  color: green;
  font-family: sans-serif;
  font-size: 20px;
}
form {
  text-align: center;
}

input {
  padding: 10px;
}
#result {
  text-align: center;
  font-family: serif;
  font-size: 18px;
}
